.q {
  display: flex;
  justify-content: space-evenly;
  &::before {
    content: 'EIT检测成像';
  }
  & canvas {
    height: 100%;
    background-color: rgb(0 0 127);
  }
  & span {
    height: 100%;
    text-align: center;
    writing-mode: vertical-lr;
    letter-spacing: 0.4em;
  }
}

.b {
  position: relative;
  width: 0.5rem;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgb(127 0 0) 0%,
    rgb(255 0 0) 12.5%,
    rgb(255 127 0) 25%,
    rgb(255 255 0) 37.5%,
    rgb(127 255 127) 50%,
    rgb(0 255 255) 62.5%,
    rgb(0 127 255) 75%,
    rgb(0 0 255) 87.5%,
    rgb(0 0 127) 100%
  );
  &::before {
    content: '0';
    position: absolute;
    bottom: 0;
    left: 1rem;
    line-height: 1rem;
  }
  &::after {
    content: '1';
    position: absolute;
    top: 0;
    left: 1rem;
    line-height: 1rem;
  }
}
