.q::before {
  content: '伤情评估';
}

.w {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-content: start;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
}

@media (orientation: portrait) {
  .w {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
